@media screen and (min-width: 320px) {
  .hero-container {
    width: 100%;
  }

  .hero-img {
    width: 100%;
    height: 200px;
    background-image: url('../../../Assets/edwin-andrade-6liebVeAfrY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.8em;
    text-align: center;
    text-transform: capitalize;
  }

  .welcome-container {
    padding: 1.8em;
  }

  .welcome-title {
    font-size: 25px;
    color: #1C1B1F;
    margin-bottom: .5em;
  }

  .welcome-message {
    font-size: 12px;
    color: #838383;
    margin-bottom: 1em;
    line-height: 1.4;
  }

  .hero-image {
    display: none;
    width: 35%;
    height: 216px;
    background-image: url('../../../Assets/debby-hudson-sgdyBq6kheQ-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-cta {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #007AFF;
    border-radius: 4px;
  }
}

@media screen and (min-width: 740px) {

  .hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


  .hero-img {
    height: 300px;
    font-size: 28px;
    padding: 3em;
  }

  .welcome-container {
    padding: 2em;
    width: 60%;
  }

  .welcome-title {
    font-size: 30px;
  }

  .welcome-message {
    font-size: 16px;
    margin-bottom: 1.2em;
    line-height: 1.6;
  }

  .hero-image {
    display: block;
  }

  .hero-cta {
    width: 90px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
  }
}


@media screen and (min-width: 1024px) {
  .hero-img {
    height: 400px;
    font-size: 32px;
  }

  .welcome-container {
    padding: 2.5em;
  }
}

@media screen and (min-width: 1300px) {
  .welcome-container {
    padding: 4.5em;
  }

  .hero-image {
    height: 270px;
  }

}